<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StudentDetails</title>
</head>
<body>
<h2>StudentDetails</h2>
<a href="/allData">Create New Student</a>
<table>
    <tr>
        <th>name</th>
        <th>classDetails</th>
        <th>gender</th>
		<th>age</th>
		<th>DOB</th>
        <th>Actions</th>
    </tr>
    <tr th:each="StudentDetail : ${todos}">
        <td th:text="${StudentDetail.name}"></td>
        <td th:text="${StudentDetail.classDetails}"></td>
        <td th:text="${StudentDetail.gender}"></td>
		<td th:text="${StudentDetail.age}"></td>
		<td th:text="${StudentDetail.DOB}"></td>
        <td>
            <a th:href="@{/StudentDetail/edit/{id}(id=${StudentDetail.id})}">Edit</a>
            <a th:href="@{/StudentDetail/delete/{id}(id=${StudentDetail.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>