<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="card p-4" style="width: 100%; max-width: 500px;">
	<div class="container mt-4">
	    <h1>Edit Student</h1>

	    <form action="/student/update" method="post" th:object="${student}">
			<!-- Student Id (Hidden Input) -->
			     <input type="hidden" th:field="*{id}">
				 
	        <!-- First Name -->
	        <div class="form-group">
	            <label for="name">Full Name:</label>
	            <input type="text" id="name" name="name" th:field="*{name}" class="form-control" required placeholder="Enter Product Full Name">
	        </div>

	        <!-- ClassDetails -->
	        <div class="form-group">
	            <label for="classDetails">ClassDetails:</label>
	            <input type="text" id="classDetails" name="classDetails" th:field="*{classDetails}" class="form-control" required placeholder="Enter Product Model">
	        </div>

			<!-- Gender -->
			<div class="mb-3">
			    <label for="gender" class="form-label">Gender</label>
			    <input type="text" class="form-control" id="gender" th:field="*{gender}" placeholder="Enter Student Gender" required>
		    </div>
					
	        <!-- AGE -->
	        <div class="form-group">
	            <label for="age">AGE:</label>
	            <input type="number" id="age" name="age" th:field="*{age}" class="form-control" required placeholder="Enter Product Price" >
	        </div>
			<!-- Date Of Brith -->
		     <div class="form-group">
				  <label for="dob">Date Of Brith:</label>
				  <input type="date" id="dob" name="dob" th:field="*{dob}" class="form-control" required placeholder="Enter Product Price" >
			 </div>

	        <!-- Submit Button -->
	        <button type="submit" class="btn btn-primary">Update Student</button>
			<!-- Back Button -->
			<button class="btn btn-primary" onclick="window.location.href='/student/'">Back</button>
	    </form>
	</div>

	<!-- Optional: Include Bootstrap JS for enhanced functionality -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</body>
	</html>